body {
  position: relative;
  background-color: #333300;
}
.affix {
  top: 20px;
  position: fixed;
}
p {
    text-align: center;
    color: #ff3300;
}
.jumbotron {
	background-color: #ffcc00;
}
h4 {
	text-align: center;
	color: #ff3300;
}
a {
  	font-weight: bold;
	font-size: 17px;
	font-family: bold;
}

footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: #999966;
  padding-top: 10px;
}
footer p {
  color: #aaa;
  font-size: 1.2em;
}
footer p i {
  color: salmon;
}
.coba2 {
margin-top: 25px;
}